@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$secondary-color: #D6FF38;

.navbar {
    font-family: 'Roboto', sans-serif;
    height: 75px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 3;
    background-color: white;

    .NavbarLogo {
        // display: block;
        position: relative;
        flex: 0 1 10%;
        text-align: center;
        z-index: 3;
        
            .NavbarLogoImage {
    
                &:hover {
                    cursor: pointer;
                }
            }

    }
    .NavComponents {
        position: relative;
        flex: 0 1 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .NavLink {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 15%;
            border: 1px solid black;
            background: none;
            font-size: 26px;
            font-weight: 400;

            background-image: linear-gradient(to top, $secondary-color 50%, transparent 50%);
            background-size: 100% 200%;
            background-position: top;
            transition: background-position 0.5s ease-in-out; /** I've changed the time for demo purposes **/
            color: black;

            &:hover {
                background-position: bottom;
                transition: background-position 0.5s ease-in-out;
                cursor: pointer;

            }


        }
        .ActiveNavLink {
            background-position: bottom;
            color: black;
            transition: background-position 0.5s ease-in-out;
            &:hover {
                background-position: top;

            }
        }
        .UserActions {
            
            position: relative;
            flex-wrap: wrap;
            padding: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 15%;
            border: 1px solid black;
            background: none;
            font-size: 26px;
            font-weight: 400;
            .User {
                flex: 0 1 50%;
                display: flex;
                align-items: center;
                justify-content: left;
                .UserDo {
                    padding-left: 5px;
                    font-size: 16px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .UserCart {
                flex: 0 1 50%;
                display: flex;
                align-items: center;
                justify-content: right;
                position: relative;
                .ShoppingBag {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .CartContent {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -15%);
                    color:$secondary-color;
                    font-size: 16px;

                }
                &:hover {
                    cursor: pointer;
                }
            }
            .JustAdded {
                position: absolute;
                top: 100%;
                left: -100%;
                width: 200%;
                padding: 10px;
                padding-bottom: 20px;
                
                background-color: white;
                .TopActions {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0px 10px;
                    .notif {
                        flex: 0 1 45%;
                        display: flex;
                        align-items: center;
                        
                        font-size: 12px;
                        .GreenCheck {
                            color: green;
                            margin-right: 10px;
                        }
                    }
                    .exit {
                        flex: 0 1 45%;
                        display: flex;
                        justify-content: flex-end;
                        color: rgba(0, 0, 0, 0.75);
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .Product {
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    .ProductImageContainer {
                        flex: 0 1 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }
                    .ProductInfo{ 
                        padding-left: 10px; 
                        flex: 0 1 80%;
                        .ProductName {
                            display: block;
                            font-size: 16px;
                        }
                        .ProductCategory {
                            display: block;
                            font-size: 16px;
                            color: #8f8f8f;

                        }
                        .ProductPrice {
                            display: block;
                            font-size: 16px;

                        }

                    }
                    .UserInteract {
                        margin-top: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        .ViewCartButton {
                            padding: 15px 17px;
                            flex: 0 1 45%;
                            min-width: 137px;
                            border-radius: 25px;
                            border: solid 1px #8f8f8f;
                            background-color: white;
                            font-size: 16px;

                        }
                        .ButtonSpacer {
                            flex: 0 1 10%;
                            height: 1px;
                        }
                        .CheckoutButton {
                            padding: 15px 17px;
                            flex: 0 1 45%;
                            min-width: 137px;

                            text-align: center;
                            border-radius: 25px;
                            border: solid 1px white;
                            background-color: black;
                            color: white;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}