.Main {
    display: flex;
    flex-wrap: wrap;
    .TopHeader {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background: linear-gradient(180deg, #FFFFFF 8.85%, #D6FF38 100%);;
        
        .ProductCategory {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-size: 65px;
        }
    }
    .SideNav {
        flex: 0 1 10%;
        background: grey;
        height: 300px;
    }
    .ProductLayout {
        flex: 0 1 100%;
        // background-color: #fafafa;
        .ProductList {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .Product {
                flex: 0 1 30%;
                margin: 10px;
                .ProductImageContainer {
                    width: 100%;
                    position: relative;
                    padding-bottom: calc((9/9)*100%);
                }
                .ProductInfo {
                    margin-top: 30px;
                    margin-left: 60px;
                    .ProductName {
                        font-size: 20px;
                        font-weight: 500;
                        display: block;
                    }
                    .ProductPrice {
                        font-size: 20px;
                        display: block;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }   
    }
}